<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_icon_baytna"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon_baytna"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baytna"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">
        <activity
            android:name=".View.SuccessfullyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".View.WorkerList"
            android:exported="false" />
        <activity
            android:name=".View.Welcome"
            android:exported="false" />
        <activity
            android:name=".View.Book_time"
            android:exported="false" />
        <activity
            android:name=".View.Profile"
            android:exported="false" />

        <activity
            android:name=".View.SignUp"
            android:exported="true"
            android:theme="@style/SignUpTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.Login"
            android:exported="true"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".View.gridViewCategory"
            android:exported="false" />
        <activity
            android:name=".View.Home"
            android:exported="true" />

        <activity
            android:name=".View.onBoardingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>